body {
	display: flex;
	justify-content: center;
	margin: 4rem 0 0 0;
	padding: 0;
}

#settings {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding-bottom: 5rem;
	width: 500px;
}

#header {
	text-transform: uppercase;
	margin: 2rem 0;
}

.boxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	grid-column-gap: 1rem;
	width: 50%;
	margin: 1rem 0 0 0;
}

.setOne {
	margin-top: 0;
}

.settingLabel {
	grid-column: 1/2;
	margin: 0;
	/*font-weight: bold;*/
}

.switch {
	grid-column: 2/3;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: rgb(50,205,50);
}

input:focus + .slider {
	box-shadow: 0 0 1px rgb(50,205,50);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}